
.portlet-birthdays .view-mode {
    max-width: 330px;
    width: 100%;
}

.portlet-birthdays .bdays-info-container {
    border: 1px solid #e4e4e4;
    color: #6a6a6a;
    font-size: 1.1em;
    margin: 10px 20px;
    border-radius: 4px
}

.bday-view-container {
    height: 300px;
    overflow: auto;
}

.portlet-birthdays .top-box {
    margin-bottom: 15px;
}

.portlet-birthdays .bday-person {
    word-break: break-all;
    -ms-word-break: break-all;
}
.portlet-birthdays .bday-person img {
    border: 1px solid #ddd;
    height: 30px;
    width: 30px;
}
.portlet-birthdays .bdays-info-container .bdays-info {
    color: #3085d1
}

.portlet-birthdays .bdays-info-label,
.portlet-birthdays .bdays-info-biggie {
    float: left
}

.portlet-birthdays .bdays-info-label {
    padding: 10px
}

.portlet-birthdays .bdays-info-biggie {
    background: #f6f6f6;
    border-right: 1px solid #e4e4e4;
    font-size: 4em;
    padding: 25px 0;
    text-align: center;
    width: 100px;
    border-radius: 4px 0 0 4px
}

.portlet-birthdays .bdays-info-label-biggie {
    font-size: 1.5em;
    padding: 5px 0
}

.portlet-birthdays .bdays-info-label-small {
    color: #6a6a6a;
    font-size: 1em;
}

/**
    ACCORDION for weekly and monthly
*/
.portlet-birthdays .accordionized .toggle .toggle-icon {
    float: right;
}

.portlet-birthdays .accordionized .wrapper {
    overflow: hidden;
}

.portlet-birthdays .accordionized .opened:last-child > a{
    border-radius: 0;
}


.portlet-birthdays .accordionized .opened:first-child > a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.portlet-birthdays .accordionized > li:last-child .content {
    margin-bottom: 1px;
}

.portlet-birthdays .accordionized .opened:last-child .content li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #ddd;
}

.portlet-birthdays .accordionized .content {
    margin-bottom: 0;
    max-height: 1000px;
    /* transition: 0.8s max-height; */
}
.portlet-birthdays .accordionized .content.hidden {
    max-height: 0;
}

.portlet-birthdays .accordionized .content li a {
    border-radius: 0;
}

.portlet-birthdays .accordionized .content li:first-child a {
    border-top: none;
}

.portlet-birthdays .accordionized .content li:last-child a {
    border-bottom: none;
}
